<div class="custom-event-card">
  <div class="custom-event-card__image-container">
    <% if activity.respond_to?(:photos) && activity.photos.attached? %>
      <%= cl_image_tag activity.photos.first.key, class: "custom-event-card__image", alt: activity.name %>
    <% else %>
      <div class="custom-event-card__placeholder"></div>
    <% end %>
  </div>
  <div class="custom-event-card__date-circle">
    <% if activity.voting_closed? %>
      <% if activity.winning_date %>
        <div class="date-content">
          <div class="month"><%= activity.winning_date.strftime("%b") %></div>
          <div class="day"><%= activity.winning_date.strftime("%d") %></div>
        </div>
      <% else %>
        <div class="no-winning-date">No date selected</div>
      <% end %>
    <% else %>
      <div class="vote-image-container">
        <% if activity.user_has_voted?(current_user) %>
          <%= image_tag "voted.png", class: "vote-image" %>
        <% else %>
          <%= image_tag "vote.png", class: "vote-image" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="custom-event-card__content">
    <h3 class="custom-event-card__title"><%= activity.name %></h3>
    <p class="custom-event-card__description"><%= truncate(activity.description, length: 100) %></p>
  </div>
</div>
