<%= render 'partials/navbar' %>

  <%= month_calendar(events: @meetings, start_attribute: :start_time, end_attribute: :end_time) do |date, meetings| %>
    <%= date %>
    <% meetings.each do |meeting| %>
      <!-- Customize how meetings are displayed here -->
      <p><%= meeting.name %> - <%= meeting.start_time.strftime("%H:%M") %> to <%= meeting.end_time.strftime("%H:%M") %></p>
    <% end %>
  <% end %>
</div>
