  <div class="calendar-container">
    <%= month_calendar(events: @sorted_events.values.flatten, start_attribute: :start_time, end_attribute: :end_time) do |date, activities| %>
      <%= date %>
      <% activities.each do |activity| %>
        <p><%= activity.name %> - <%= activity.start_time&.strftime("%H:%M") %> to <%= activity.end_time&.strftime("%H:%M") %></p>
      <% end %>
    <% end %>
  </div>

  <div class="cards-container">
    <div class="cards-grid">
      <% @activities.first(4).each do |activity| %>
        <%= render 'partials/cards', activity: activity %>
      <% end %>
    </div>
  </div>
</div>
