<%= render 'partials/navbar' %>

<%= month_calendar(events: @activities, start_attribute: :start_time, end_attribute: :end_time) do |date, activities| %>
  <%= date %>
  <% activities.each do |activity| %>
    <!-- Customize how activities are displayed here -->
    <p><%= activity.name %> - <%= activity.start_time.strftime("%H:%M") %> to <%= activity.end_time.strftime("%H:%M") %></p>
  <% end %>
<% end %>
<%= render 'partials/footer' %>
