<%= simple_form_for(activity, html: { class: 'activity-form' }) do |form| %>
  <div class="field">
    <%= form.input :name, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
  </div>

  <div class="field">
    <%= form.input :description, as: :text, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
  </div>

  <div class="field">
    <%= form.input :address,
      input_html: {
        data: { address_autocomplete_target: "address" },
        class: "d-none"
      },
      wrapper_html: {
        data: { controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"] }
      },
      label_html: { class: 'form-label' }
    %>
  </div>

  <div class="field">
    <%= form.input :date_1, as: :string, label_html: { class: 'form-label' }, input_html: { class: 'form-control', data: { controller: "datepicker" } } %>
  </div>

  <div class="field">
    <%= form.input :date_2, as: :string, label_html: { class: 'form-label' }, input_html: { class: 'form-control', data: { controller: "datepicker" } } %>
  </div>

  <div class="field">
    <%= form.input :date_3, as: :string, label_html: { class: 'form-label' }, input_html: { class: 'form-control', data: { controller: "datepicker" } } %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Activity', class: 'btn1' %>
  </div>
<% end %>

