<div class="container activities-container">
  <h1>Activities</h1>

  <!-- Search form -->
  <div class="search-form mb-4">
    <%= form_with url: activities_path, method: :get, local: true do |form| %>
      <%= form.text_field :query, placeholder: "Search activities...", class: "form-control" %>
      <%= form.submit "Search", class: "btn btn-primary mt-2" %>
    <% end %>
  </div>

  <div class="cards-grid">
    <% @activities.each do |activity| %>
      <%= link_to activity_path(activity), class: "text-decoration-none" do %>
        <%= render partial: 'partials/cards', locals: { activity: activity } %>
      <% end %>
    <% end %>
  </div>
</div>
